<!DOCTYPE html>
<html>
  <head>
    <!-- {{ title }} is a variable passed to the template engine in 11ty. (The title is taken from the page to be used) -->
    <title>{{ title }}</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <header>
      <h1>{{ title }}</h1>
    </header>
    <main>
      {{ content | safe }}
    </main>
    <aside>
        {{ content | toc | safe }}
    </aside>
  </body>
</html>